<div class="timer-container">
  <div class="timer-card">
    <div class="timer-circle">
      <h2 class="timer-value">{{ showTimerValue() }}</h2>
    </div>

    <section class="buttons-container">
      <button
        [disabled]="timerIsRunning ? false : true"
        class="stop"
        (click)="stopTimer()"
      >
        <img src="../assets/stop-black-18dp.svg" alt="" />
      </button>

      <button
        [disabled]="timerIsRunning ? true : false"
        class="initialize"
        (click)="initializeTimer()"
      >
        <img src="../assets/play_arrow-black-18dp.svg" alt="" />
      </button>
      <button [disabled]="time > 0 ? false : true" class="restart" (click)="restartTimer()">
        <img src="../assets/restart_alt-black-18dp.svg" alt="" />
      </button>
    </section>
  </div>
</div>
